<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>Register</title>
    <style>
      body {
        font-family: "Source Sans 3", sans-serif;
      }
      button {
        font-size: 1.25em;
        background-color: rgba(101, 85, 143, 1);
        color: white;
        border: none;
        cursor: pointer;
      }

      .event {
        background: linear-gradient(to bottom, rgba(5, 102, 141, 1), rgba(66, 122, 161, 1), rgba(103, 148, 54, 1));
        padding: 1%;
        margin-top: 2%;
        border-radius: 10px;
      }

      .selected {
        margin-left: 5%;
        transition: 0.5s ease-in-out;
        background-color: yellow;
      }

      #form {
        background: rgba(217, 217, 217, 1);
      }
    </style>
  </head>
  <body class="bg-gray-300 flex items-center justify-center min-h-screen">
    <div class="bg-white w-3/4 p-8 rounded-lg shadow-lg">
      <center>
          {% if error == "done" %}
            <h2 class="bg-red-500 text-white font-bold rounded-lg px-4 py-2 mb-4">
              Your school has already registered.
            </h2>
          {% elif error == "duplicate" %}
            <h2 class="bg-red-500 text-white font-bold rounded-lg px-4 py-2 mb-4">
              You registered for the same event more than once.
            </h2>
          {% elif error == "incomplete" %}
            <h2 class="bg-red-500 text-white font-bold rounded-lg px-4 py-2 mb-4">
              The form was not filled completely.
            </h2>
          {% elif error == "student_duplicate" %}
            <h2 class="bg-red-500 text-white font-bold rounded-lg px-4 py-2 mb-4">
              Same student name has been given multiple times. One student can only participate in 1 event.
            </h2>
          {% endif %}
      </center>
      <br>
      <div
        class="bg-purple-700 text-2xl text-white text-center py-2 rounded-full mx-auto mb-8"
      >
        CommClave Registration
      </div>
      <form action="{% url 'home' %}" id="regform" method="post">
        <input type="hidden" name="registered" id="registered" />
        <div
          class="bg-gradient-to-b from-purple-400 to-green-200 p-8 rounded-lg"
        >
          <div class="mb-6">
            <label class="block text-black text-lg mb-2">1. School Name</label>
            <input
              type="text"
              name="schoolname"
              id="schoolname"
              placeholder="Schoolname: "
              class="w-full p-2 border border-gray-300 rounded-lg bg-purple-100"
            />
          </div>
          <div class="mb-6">
            <label class="block text-black text-lg mb-2"
              >2. Mentor Name</label
            >
            <input
              type="text"
              name="teacher-name"
              class="w-full p-2 border border-gray-300 rounded-lg bg-purple-100"
            />
          </div>
          <div class="mb-6">
            <label class="block text-black text-lg mb-2"
              >3. Mentor Contact Number</label
            >
            <input
              type="tel"
              name="teacher-number"
              placeholder="05XXXXXXXX"
              class="w-full p-2 border border-gray-300 rounded-lg bg-purple-100"
            />
          </div>
          <div class="mb-6">
            <label class="block text-black text-lg mb-2"
              >4. Mentor Email ID</label
            >
            <input
              type="email"
              name="teacher-email"
              class="w-full p-2 border border-gray-300 rounded-lg bg-purple-100"
            />
          </div>
          <div>
            <label class="block text-black text-lg mb-2"
              >5. Number Of Events Being Registered For</label
            >
            <input
              type="number"
              name="number"
              id="number"
              oninput="events_add()"
              placeholder="Min: 1 Max: 3"
              min="1"
              max="3"
              class="w-full p-2 border border-gray-300 rounded-lg bg-purple-100"
            />
          </div>
        </div>
        <div id="main"></div>
        <div style="display: flex; justify-content: center;">
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full mx-auto mt-4">
            Register
          </button>
        </div>
      </form>
    </div>

    <script>
      let events = JSON.parse('{{ events | safe }}');
      let registered_events = {};

      const categories_btn_add = (n) => {
        if (Object.keys(events).length == 0) {
          document.getElementById(`categories${n}`).innerHTML = "<h2>All categories have reached maximum number of participants.</h2>"
        }
        for (let i = 0; i < Object.keys(events).length; i++) {
          document.getElementById(`categories${n}`).innerHTML += `
        <button type="button" id="${n}${
            Object.keys(events)[i]
          }" onclick="cat_btn_click(${n}, '${Object.keys(events)[i]}')" class="bg-purple-700 text-white py-2 px-4 rounded-full">
            ${Object.keys(events)[i]}
        </button><br><br>`;
        }
      };

      const cat_btn_click = (n, cat) => {
        registered_events[n] = cat;
        document.getElementById("registered").value =
          JSON.stringify(registered_events);
        Object.keys(events).forEach((e, i) => {
          document.getElementById(`${n}${e}`).classList.remove("bg-yellow-500");
          document.getElementById(`${n}${e}`).classList.add("bg-purple-700");
          document.getElementById(`${n}${e}`).classList.remove("selected");
        });
        document.getElementById(`${n}${cat}`).classList.remove("bg-purple-700");
        document.getElementById(`${n}${cat}`).classList.add("bg-yellow-500");
        document.getElementById(`${n}${cat}`).classList.add("selected");
        participants_details(n, cat);
      };

      const participants_details = (n, cat) => {
        document.getElementById(`participants${n}`).innerHTML = "";
        const nop = events[cat];
        for (let i = 0; i < nop; i++) {
          document.getElementById(
            `participants${n}`
          ).innerHTML += `<br><b><h2 class="font-bold text-lg text-white mb-4 bg-blue-500 p-4">Participant ${i + 1}</h2></b>

            <label class="block text-white text-lg mb-2">Full Name: </label>
            <input class="w-full p-2 border border-gray-300 rounded-lg bg-purple-100" type="text" name="${cat}-p${
            i + 1
          }-name"><br><br>
            <label class="block text-white text-lg mb-2">Email ID: </label>
            <input class="w-full p-2 border border-gray-300 rounded-lg bg-purple-100" type="email" name="${cat}-p${
            i + 1
          }-contact"><br><br>
          <label class="block text-white text-lg mb-2">Grade/Year: </label>
          <input class="w-full p-2 border border-gray-300 rounded-lg bg-purple-100" type="number" name="${cat}-p${
            i + 1
          }-grade"><br>`;
        }
      };

      const events_add = () => {
        let number = document.getElementById("number").value;
        console.log(number);

        // Clear previous events
        const event1 = document.getElementById("event1");
        const event2 = document.getElementById("event2");
        const event3 = document.getElementById("event3");

        if (event1) {
          event1.remove();
        }
        if (event2) {
          event2.remove();
        }
        if (event3) {
          event3.remove();
        }

        if (number == 1) {
          document.getElementById(
            "main"
          ).innerHTML += `<div id="event1" class="event">
        <div id="categories1"></div>
        <div id="participants1"></div>
      </div>`;
          categories_btn_add(1);
        }

        if (number == 2) {
          document.getElementById(
            "main"
          ).innerHTML += `<div id="event1" class="event">
        <div id="categories1"></div>
        <div id="participants1"></div>
      </div>`;
          categories_btn_add(1);
          document.getElementById("main").innerHTML += `
    <div id="event2" class="event">
      <div id="categories2"></div>
      <div id="participants2"></div>
    </div>`;
          categories_btn_add(2);
        }
        if (number == 3) {
          document.getElementById(
            "main"
          ).innerHTML += `<div id="event1" class="event">
        <div id="categories1"></div>
        <div id="participants1"></div>
      </div>`;
          categories_btn_add(1);
          document.getElementById("main").innerHTML += `
    <div id="event2" class="event">
      <div id="categories2"></div>
      <div id="participants2"></div>
    </div>`;
          categories_btn_add(2);
          document.getElementById("main").innerHTML += `
    <div id="event3" class="event">
      <div id="categories3"></div>
      <div id="participants3"></div>
    </div>`;
          categories_btn_add(3);
        }
      };
    </script>
  </body>
</html>
